.App {
  text-align: left;
}

.App-header {
  min-height: 20vh;
  display: flex;
  justify-content: space-between;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.converted-area {
  background-color: #272822;
  color: #5ad9ef;
}

.original-json {
  background-color: #282c34;
  max-height: 60vh;
  color: #b59a39;
}

.button-next {
  display: block;
  margin: 0 auto;
}

.site-all {
  background-color: #282c34;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.convert-errors {
  color: red;
}

.notice-copied {
  color: greenyellow;
}